name: Publish Docker Images

on:
  workflow_dispatch:

env:
  IMAGE_NAME_PREFIX: ghcr.io/${{ github.repository_owner }}/m4sport

jobs:
  build-and-push:
    name: Build & Push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push scraper image
        uses: docker/build-push-action@v6
        with:
          context: ./src/scraper
          push: true
          tags: |
            ${{ env.IMAGE_NAME_PREFIX }}-scraper:latest
            ${{ env.IMAGE_NAME_PREFIX }}-scraper:${{ github.sha }}

      - name: Build and push player image
        uses: docker/build-push-action@v6
        with:
          context: ./src/player
          push: true
          tags: |
            ${{ env.IMAGE_NAME_PREFIX }}-player:latest
            ${{ env.IMAGE_NAME_PREFIX }}-player:${{ github.sha }}
